/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97

*/

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
    line-height: 1.6;
    background-image: url(img/bg.jpg);
    padding: 0px 90px 10px 90px;
}

a:hover{
    color: #1fabe5;
}

h1, h2{
    margin-top: 1.8em;
    margin-bottom: 0;
}

h1{
    color: white;
}

h2{
    color: #1fabe5;
    font-weight: strong;
}

table{
   padding:15px;
   border-collapse: collapse;
   width:100%;
   
}
table, th, td {
    border: 1px solid #1fabe5;
    padding:15px;
   
} 


thead{
    color:white;
    background:#1fabe5;
    
}
tr, img{
    height: 50px; 
    width: 50px;
}
h3{
    color: #1fabe5;
    font-weight: bold;
}
ul{
    background-color: white;
    color: black;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    width: 40%;
}
form{
    background-color: #eee;
    padding:1em;
    font-weight: bold;
    
}
form >div.name{
    background-color: #ff8523;
    color: white;
    font-weight: bold;
    padding: 10px 40px 10px 20px;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
    text-align: left;
}
div.city_container{
    font-weight: bold;
}
textarea#bio{
    border: 1px solid #1fabe5;
}

input#first_name{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right:10px

}
input#last_name{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
input#submit_button{
    background-color: #1fabe5;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
    padding: 1em;
    
}
#page_content >section{
    border-bottom: 5px solid #eee;
}
a#logo >img{
    height: auto;
    width: auto;
}

body > div{
    border: 3px solid #ffD24A;
    background-color: white;
    
}

#site_header{
    background-color: #ff8523;
    padding: 10px;
}
nav{
    padding: 15px 0;
}
.main_navigation a{
    color: white;
    background-color: #ff8523;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
}

#page_content{
    padding: 10px 25px;

}




